<div class="dropdown">
   <ul class="dropdown-list">
       <li class="dropdown-item">
           <a routerLink="lesson-offers/add">Add Lesson Offer</a>
       </li>
       <li class="dropdown-separator"></li>
       <li class="dropdown-item">
           <a routerLink="profile">Profile</a>
        </li>
       <li class="dropdown-item">
           <a routerLink="account-settings">Account settings</a>
        </li>
       <li (click)="logout()" class="dropdown-item">
           <a>Log out</a>
        </li>
   </ul>
</div>