<nav class="profile-menu">
    <ul class="profile-menu-list">
        <li class="profile-menu-item">
            <a [routerLink]="['basic/edit']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Basic Profile</a>
        </li>
        <li class="profile-menu-item">
            <a [routerLink]="['photos/edit']" routerLinkActive="active">Profile Photos</a>
        </li>
        <li class="profile-menu-item">
            <a [routerLink]="['addresses/edit']" routerLinkActive="active">Profile Addresses</a>
        </li>
        <li class="profile-menu-item">
            <a [routerLink]="['learner/edit']" routerLinkActive="active">Learner Profile</a>
        </li>
        <li class="profile-menu-item">
            <a [routerLink]="['tutor/edit']" routerLinkActive="active">Tutor Profile</a>
        </li>
    </ul>
</nav>