<div class="profile-photos">
    <div class="alert alert-info" role="alert" *ngIf="isUploadMessage && !uploadFailed">{{ uploadMessage }}</div>
    <div class="alert alert-danger" role="alert" *ngIf="isUploadMessage && uploadFailed">{{ uploadMessage }}</div>
    
    <div class="panel panel-default">
        <div class="panel-heading">Profile Photos</div>
        <div class="panel-body" *ngIf="!isProfileCreated">
            <div class="no-profile-warning">
                To add photos, at first fill basic profile information. 
            </div>
        </div>
        <div class="panel-body" *ngIf="isProfileCreated">
            <div class="row">
                <div class="col-lg-4 text-center">
                    <div class="photo-container" (mouseenter)="showPhotoDeleteButton($event)" (mouseleave)="hidePhotoDeleteButton($event)"
                       (drop)="onPhotoItemDrop($event)" (dragover)="allowPhotoItemDrop($event)">
                        <div class="photo-background">
                            <img [src]="profilePhotoPath.path" alt="Profile Photo" height="200" width="200" />
                        </div>
                        <div class="photo-round">
                            <img [src]="profilePhotoPath.path" alt="Profile Photo" height="200" width="200" />
                        </div>
                        <button class="photo-delete overlay-button" [attr.data-pid]="profilePhotoPath.pid" (click)="deletePhoto($event)">
                            <i class="glyphicon glyphicon-trash"></i>
                        </button>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="photo-list">
                        <ul class="clearfix">
                            <li class="photo-item pull-left" *ngFor="let photo of profilePhotos" 
                                    (mouseenter)="showPhotoDeleteButton($event)" 
                                    (mouseleave)="hidePhotoDeleteButton($event)">
                                <img src="{{ photo.path }}" width="50" height="50" [attr.data-pid]="photo.pid"
                                    draggable="true" (dragstart)="onPhotoItemDrag($event)" />
                                <button class="photo-delete overlay-button" [attr.data-pid]="photo.pid" (click)="deletePhoto($event)">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div class="photo-upload-desc">
                        Be sure to use a photo that cleary shows your face and doesn't include any personal or sensitive information.
                    </div>
                    <div class="photo-upload">
                       <file-uploader extensions="PNG, JPG, JPEG, GIF" max-count="1" max-size="5" 
                            [endpoint]="photoUploadEndpoint" (uploadchange)="onUploadChange($event)">
                            <span class="choose-text">Choose photo</span>
                            <span class="drag-drop-text">or drag and drop it.</span>
                        </file-uploader>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>