<div draggable="true" class="text-center" ngClass="{{uploadAreaClass}}"
    (dragover)="onDragOver($event)" (dragenter)="onDragEnter($event)"
    (dragend)="onDragEnd($event)" (dragleave)="onDragLeave($event)"
    (drop)="onDrop($event)">
    
    <input #file type="file" [multiple]="maxFilesCount > 1"
        (change)="onFileChange($event)" style="display:none" />

    <a href="javascript:void(0)" (click)="file.click()">
        <ng-content select="span.choose-text"></ng-content>
    </a>
    <ng-content select="span.drag-drop-text"></ng-content>

</div>