:host { 
	display: block;
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    width: 100%;
    z-index: 5;
}

header {
	height: auto;
}

@media (max-width: 767px ) { 
	#logo {
		margin-left: -10px;
		padding: 0;
		height: 35px;
	}
	search-box { 
		z-index: -2; 
		position: relative;
	}
}

@media (min-width: 768px) { 
	header { 
		background-color: white;
		box-shadow: 0 1px 0 #DBDBDB !important;
	}
	#logo {
		margin: 0 5px 0 5px;
		padding: 0 5px 0 5px;
		height: 40px;
	}	
}
	
header:after {
	clear:both;
	background-color:#fff;
}

#menu-box .link-group { 
	margin: 5px 0; 
	height: 20px;
  	line-height: 20px;
  	text-align: center;  
}

#menu-box .link-group :first-child {
	border-left: 0px;
}

#menu-box .link-group a {
	border-left: 2px solid #8A8A8A;
	display:inline;
	padding:5px;
	font-size:0.9em;
	cursor:pointer;
	color:#8A8A8A;
    font-size:16px;
	text-decoration:none;
}

#menu-box .glyphicon-user { 
	color: #8A8A8A;
	margin-bottom: 7px;
}

@media (max-width: 767px ) { 
	#menu-box .glyphicon-user { 
		font-size: 23px;
	}
}

@media (min-width: 768px) { 
	#menu-box .glyphicon-user { 
		font-size: 30px;
	}
}

#menu-box .link-group a,  #menu-box .glyphicon-user {
	display: inline-block;
  	vertical-align: middle;
}

@media (max-width: 897px) { 
	#profile-link { 
		display: none !important;
	}
}

.clickable { 
	cursor: pointer;
}