<div class="lesson-offer-price">50-100zł</div>
<h4>{{ content['title'] }}</h4><br>
<span class="lesson-offer-label">Przedmiot:</span><span> matematyka</span><br>
<span class="lesson-offer-label">Miasto:</span><span> Warszawa</span><br>
<span class="lesson-offer-label">Miejsce lekcji:</span><span> u korepetytora</span><br>
<span class="lesson-offer-label">Poziom:</span><span> szkoła podstawowa, gimnazjum, szkoła średnia</span><br>

<div class= "img-round">
    <img src="./assets/images/tutor.png" alt="Tutor photo">
</div>