<div class="lesson-offer-price">{{ content.cost }}zł</div>
<h4>{{ content.title }}</h4><br>
<span class="lesson-offer-label">Przedmiot:</span><span> {{ content.subjectId }} </span><br>
<span class="lesson-offer-label">Miasto:</span><span> {{ content.location }} </span><br>
<span class="lesson-offer-label">Miejsce lekcji:</span><span> {{ lessonTypes[content.type] }} </span><br>
<span class="lesson-offer-label">Poziom:</span><span> {{ levels[content.level] }} </span><br>

<div class= "img-round">
    <img src="./assets/images/tutor.png" alt="Tutor photo">
</div>