<div class="profile-content">
    <form class="form-profile-basic" (ngSubmit)="onSubmit($event)">
        <div class="panel panel-default">
            <div class="panel-heading">Basic Profile</div>
            <div class="panel-body">
            <div class="row">
                <label class="col-sm-3 text-right" for="firstName">First Name</label>
                <div class="col-sm-9">
                        <input id="firstName" type="text" />
                </div>
            </div>
            </div>
        </div>
    </form>
</div>